@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}
.content {
	margin-top: 60px;
}
